<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('./assets/img/login-image.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <h2 class="presentation-subtitle text-center">An email has been sent to {{email}} to activate your account.</h2>
            </div>
        </div>
    </div>
    <div class="main">
    </div>
</div>
