<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-forgot">
                        <h3 class="title ">Password recovery</h3>
                        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <label>Email</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                <input type="text" formControlName="login"
                                       class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }"
                                       placeholder="Email"
                                       (focus)="focus=true" (blur)="focus=false" >
                                <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                                    <div *ngIf="f.login.errors.required">Email is required</div>
                                    <div *ngIf="f.login.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                            <button class="btn btn-danger btn-block btn-round">Send password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
