.button_style_submit {
  background-color: #F5593D;
  width: 140px;
  height: 40px;
  font-size: 24px;
  color: #ffffff;
  border-radius: 8px;
}

.button_style_cancel {
  background-color: #a2a2a2;
  margin-left: 200px;
  width: 140px;
  height: 40px;
  font-size: 24px;
  color: #ffffff;
  border-radius: 8px;
}

.img_preview {
  width: 50%;
  height: 50%;
}

.test{
  margin-left: auto;
  margin-right: auto;
  text-align: -webkit-center;
}
.line_between {
  align: center;
  width: 500px;
  height: 4px;
  border-radius: 2px;
  color: #000000;
}

.general_field {
  box-sizing: border-box;
  margin-left: 200px;
  margin-right: 200px;
}

.fields {
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 20px;
}

.gener {
  font-size: 36px;
  text-align: center;
}

.card-params {
  margin-left: 180px;
  font-size: 18px;
}

.nav-map {
  margin-left: auto;
  margin-right: auto;
  position: center;
  z-index: 1;
  text-align: -webkit-center;
}
.cl1{
  margin-left: auto;
  margin-right: auto;
  text-align: -webkit-left;
}
.cl2{
  margin-left: auto;
  margin-right: auto;
  text-align: -webkit-right;
}
agm-map {
  position: center;
  width: 400px;
  height: 380px;
}
