<body class="account-settings">
<div class="wrapper">
    <div class="section-shaped my-0 skew-separator skew-mini">
        <div class="page-header page-header-xs" data-parallax="true"
             style="background-image: url('./assets/img/fabio-mangione.jpg');">
            <div class="filter"></div>
            <div class="container">
                <div class="header-body text-center mb-7">
                </div>
            </div>
        </div>
    </div>
    <div class="general_field">
        <div *ngFor="let place of places" >
            <h3 class="gener">{{place.nameMonument}}</h3>
            <div class="nav-map">
                <form class="center-agm">
                    <p>
                        <agm-map #gm [latitude]="place.latitude" [longitude]="place.longitude" [zoom]="13">
                            <agm-marker [latitude]="place.latitude" [longitude]="place.longitude">
                            </agm-marker>
                        </agm-map>
                    </p>
                </form>
            </div>
            <h2 class="card-params">Description: {{place.informationAboutMonument}}</h2>
            <hr/>
            <h2 class="card-params">Category: {{place.status}}</h2>
            <hr/>
            <h2 class="card-params">Location: {{place.cityMonument}}</h2>
            <hr/>
            <h2 class="card-params">Coordinates: latitude = {{place.latitude}}, longitude = {{place.longitude}}</h2>
            <hr/>
            <div class="test">
                <img class="img_preview" [src]="place.photo" alt="...">
            </div>
            <br/>
            <br/>
            <br/>

            <div class="test">
                <span>
                    <button class="button_style_submit" type="submit" (click)="acceptMonument(place)">Accept</button>
                </span>
                <span>
                    <button class="button_style_cancel" type="submit" (click)="declineMonument(place)">Decline</button>
                </span>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
        <div *ngIf="places.length==0">
            <h3 style="text-align: center">There are no places to moderation</h3>
        </div>
    </div>
</div>
