<body class="account-settings" xmlns:height="http://www.w3.org/1999/xhtml">
<div class="wrapper">
    <div class="section-shaped my-0 skew-separator skew-mini">
        <div class="page-header page-header-xs" data-parallax="true"
             style="background-image: url('./assets/img/fabio-mangione.jpg');">
            <div class="filter"></div>
            <div class="container">
                <div class="header-body text-center mb-7">
                </div>
            </div>
        </div>
    </div>
    <!--deleteCity-->
    <ng-template #delTrip let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="del-city">Аre you sure you want to remove the trip?</h4>
        </div>
        <div class="modal-body">
            <form>
                <table border="0" width="400" align="center">
                    <tr>
                        <td>
                            <button type="button" class="btn btn-danger btn-block" (click)="onDelete(modal)">Yes
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-block"
                                    (click)="modal.dismiss('Cross click')">No
                            </button>
                        </td>
                    <tr>
                </table>
            </form>
        </div>
    </ng-template>
    <div class="background" id="#mainImg">
        <div class="container bg-white card-user-profile mb-0">
            <div class="row">
                <div class="zatemnenie" id="zatemnenie">
                    <div class="okno">
                        <span><p>Сменить фото</p></span>
                        <span><input type="file"></span>
                        <span><a href="#mainImg" class="close">Отмена</a></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="section">

                        <!-- User Information -->
                        <section class="text-center">
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail img-no-padding">
                                    <img [src]='url' alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"
                                     style="">
                                </div>
                                <div *ngIf="storage.getItem('id')===this.id">
                                    <span class="btn btn-outline-default btn-round btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists" *ngIf="change">Change</span>
                                        <input type="file" ng2FileSelect [uploader]="uploader" multiple/>
                                    </span>
                                </div>
                            </div>
                            <h3 class="title mt-4">{{ general.nickname }}</h3>
                        </section>
                        <!-- User Information -->
                        <!-- Profile Sidebar -->
                        <section class="pad">
                            <hr/>
                            <ul class="nav flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab"
                                       href="/general?id={{this.id}}" role="tablist">
                                        <i class="tim-icons icon-single-02"></i>
                                        General
                                    </a>
                                </li>
                            </ul>
                            <hr/>
                            <ul class="nav flex-column" *ngIf="this.id === this.storage.getItem('id')" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab"
                                       href="/profile" role="tablist">
                                        <i class="tim-icons icon-single-02"></i>
                                        Add place
                                    </a>
                                </li>
                            </ul>
                            <hr *ngIf="this.id ===  this.storage.getItem('id') && this.storage.getItem('role') === 'moderator'"/>
                            <ul class="nav flex-column" *ngIf="this.id === this.storage.getItem('id') && this.storage.getItem('role') === 'moderator'" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab"
                                       href="/moderation" role="tablist">
                                        <i class="tim-icons icon-single-02"></i>
                                        Moderation
                                    </a>
                                </li>
                            </ul>
                            <hr *ngIf="this.id === this.storage.getItem('id')"/>
                            <ul *ngIf="storage.getItem('id')!==null" class="nav flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="/subscriptions?id={{this.id}}"
                                       role="tablist">
                                        <i class="tim-icons icon-lock-circle"></i>
                                        Subscriptions
                                    </a>
                                </li>
                            </ul>
                            <hr *ngIf="storage.getItem('id')!==null" />
                            <ul class="nav flex-column" *ngIf="storage.getItem('id')!==null" role="tablist">
                                <li class="nav-item color-text-new" *ngIf="this.id!=this.storage.getItem('id')">
                                    <a class="nav-link" data-toggle="tab" href="/chat?id={{this.id}}" (click)="helloMessage()"
                                       role="tablist">
                                        <i class="tim-icons icon-lock-circle"></i>
                                        Say Hello
                                    </a>
                                </li>
                            </ul>
                            <hr *ngIf="this.id!=this.storage.getItem('id') && storage.getItem('id')!==null"/>
                            <ul class="nav flex-column color-text-new" *ngIf="storage.getItem('id')!==null"  id="subscribe" role="tablist">
                                <li class="nav-item" *ngIf="!isSubOn && this.id!=this.storage.getItem('id')">
                                    <a class="nav-link"  data-toggle="tab"  href="/profile-user?id={{this.id}}" (click)="subscribeOn()"
                                       role="tablist">
                                        <i class="tim-icons icon-lock-circle"></i>
                                        Subscribe
                                    </a>
                                </li>
                                <li class="nav-item" id="link" *ngIf="isSubOn && this.id!=this.storage.getItem('id')">
                                    <a class="nav-link" data-toggle="tab" href="/profile-user?id={{this.id}}" (click)="unsubscribeFrom()"
                                       role="tablist">
                                        <i class="tim-icons icon-lock-circle"></i>
                                        Unsubscribe
                                    </a>
                                </li>
                            </ul>
                            <hr *ngIf="isAdmin && this.id!=this.storage.getItem('id')"/>
                            <ul class="nav flex-column align-content-center" role="tablist">
                                <li class="nav-item"
                                    *ngIf="this.id!=this.storage.getItem('id') && isAdmin && !currentUserModer">
                                    <div class="button-show">
                                        <button style="width: 180px; height: 40px" type="button" class="btn btn-danger btn-block btn-sm " (click)="changeRole('moderator')"
                                                >
                                            <p align="center">Make Moderator</p>
                                        </button>
                                    </div>
                                </li>
                                <li class="nav-item"
                                    *ngIf="this.id!=this.storage.getItem('id') && isAdmin && currentUserModer">
                                    <div class="button-show">
                                        <button style="width: 180px; height: 40px" type="button" class="btn btn-danger btn-block btn-sm " (click)="changeRole('user')"
                                                >
                                            <p align="center">Make User</p>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                            <hr *ngIf="isAdmin && this.id!=this.storage.getItem('id')"/>
                            <ul class="nav flex-column align-content-center" role="tablist">
                                <li class="nav-item"
                                    *ngIf="this.id!=this.storage.getItem('id') && isAdmin && !isBanned">
                                    <button style="width: 180px; height: 40px" type="button" class="btn btn-danger btn-block btn-sm" (click)="ban()" >
                                        <p align="center">Ban User</p>
                                    </button>
                                </li>
                                <li class="nav-item" *ngIf="this.id!=this.storage.getItem('id') && isAdmin && isBanned">
                                    <button style="width: 180px; height: 40px" type="button" class="btn btn-danger btn-block btn-sm"  (click)="unban()" >
                                        <p align="center">Unban User</p>
                                    </button>
                                </li>
                            </ul>
                            <div *ngIf="this.id === this.storage.getItem('id')">
                                <div class="social-line text-center">
                                    <div *ngIf="facebookConnectIdentifier; then thenBlockFacebook else elseBlockFacebook"></div>
                                    <ng-template #thenBlockFacebook>
                                        <a class="btn btn-neutral btn-facebook provider-btn">
                                            <i class="fa fa-facebook-square"></i>
                                            Connected
                                        </a>
                                    </ng-template>
                                    <ng-template #elseBlockFacebook>
                                        <a class="btn btn-neutral btn-facebook provider-btn" (click)="facebookConnect()">
                                            <i class="fa fa-facebook-square"></i>
                                            Connect
                                        </a>
                                    </ng-template>
                                    <div *ngIf="googleConnectIdentifier; then thenBlockGoogle else elseBlockGoogle"></div>
                                    <ng-template #thenBlockGoogle>
                                        <a class="btn btn-neutral btn-google provider-btn">
                                            <i class="fa fa-google"></i>
                                            Connected
                                        </a>
                                    </ng-template>
                                    <ng-template #elseBlockGoogle>
                                        <a class="btn btn-neutral btn-google provider-btn" (click)="googleConnect()">
                                            <i class="fa fa-google"></i>
                                            Connect
                                        </a>
                                    </ng-template>
                                    <div *ngIf="vkConnectIdentifier; then thenBlockVk else elseBlockVk"></div>
                                    <ng-template #thenBlockVk>
                                        <a class="btn btn-neutral btn-twitter provider-btn">
                                            <i class="fa fa-vk"></i>
                                            Connected
                                        </a>
                                    </ng-template>
                                    <ng-template #elseBlockVk>
                                        <a class="btn btn-neutral btn-twitter provider-btn" (click)="vkConnect()">
                                            <i class="fa fa-vk"></i>
                                            Connect
                                        </a>
                                    </ng-template>
                                </div>
                            </div>
                        </section>


                        <!-- End Profile Sidebar -->
                        <!-- Profile Completion -->
                        <br><br><br>
                    </div>
                </div>
                <div class="lenta">
                    <div class="tabs">
                        <input id="tab1" type="radio" name="tabs" checked>
                        <label class="inAllRow" for="tab1" *ngIf="this.id==this.storage.getItem('id')"
                               title="Your news">Your news</label>
                        <label class="inAllRow" for="tab1" *ngIf="this.id!=this.storage.getItem('id')"
                               title="Their news">Their news</label>

                        <input id="tab2" type="radio" (click)="getSubs()" name="tabs">
                        <label class="inAllRow" for="tab2" *ngIf="this.id==this.storage.getItem('id')"
                               title="Your sub's news">Your sub's news</label>
                        <label class="inAllRow" for="tab2" *ngIf="this.id!=this.storage.getItem('id')"
                               title="Their sub's news">Their sub's news</label>

                        <input id="tab3" (click)="allNewsLoad()" type="radio" name="tabs">
                        <label class="inAllRow" for="tab3" title="All news">All news</label>

                        <section id="content-tab1">
                            <div class="form-check" *ngFor="let item of allLentaUser">
                                <div *ngIf="((item.status===true)||(checkID())) || true">
                                    <label class="form-check-label table-show-trip">
                                    <div align="center">
                                        <table style="  text-align: center;
                                                          border-collapse: collapse;
                                                          background-color: rgb(226, 226, 226);
                                                          border-radius: 10% 0px 0px 0px;
                                                          border: 1px;
                                                          width: 29vh;
                                                          height: 10vh;
                                                          border-style: hidden;width: 140%">
                                            <tr align="center">
                                                <div *ngIf="checkID()">
                                                    <td><div class="button-show" align="right">
                                                        <button class="button-without-back btn-sm nav-link" (click)="nullClick()"><font size="3"></font></button>
                                                    </div></td>
                                                    <td colspan="4">
                                                        <div *ngIf="item.nameTrip!=null" align="center"><h5>{{item.nameTrip}}</h5></div>
                                                        <div *ngIf="item.nameTrip==null" align="center"><h5>No name</h5></div>
                                                    </td>
                                                    <td>
                                                        <div *ngIf="(checkID())">
                                                            <button class="button-without-back" (click)="openMassegeForDelCity(delTrip, item.id)"><font size="3"><b>x</b></font></button>
                                                        </div>
                                                    </td>
                                                </div>
                                                <div *ngIf="!checkID()">
                                                    <td><div class="button-show" align="right">
                                                        <button class="button-without-back btn-sm nav-link" (click)="nullClick()"><font size="3"></font></button>
                                                    </div></td>
                                                    <td colspan="4">
                                                        <div *ngIf="item.nameTrip!=null" align="center"><h5>{{item.nameTrip}}</h5></div>
                                                        <div *ngIf="item.nameTrip==null" align="center"><h5>No name</h5></div>
                                                    </td>
                                                    <td><div class="button-show" align="right">
                                                        <button class="button-without-back btn-sm nav-link" (click)="nullClick()"><font size="3"></font></button>
                                                    </div></td>
                                                </div>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div class="card page-carousel" *ngIf="item.monuments !== null">
                                                        <ngb-carousel>
                                                            <ng-template ngbSlide *ngFor="let photo of item.monuments">
                                                                <div *ngIf='photo!=null'>
                                                                    <img [src]=photo.photoMonuments>
                                                                    <div style="height: 50px">
                                                                        <span class="nadpis">{{photo.nameMonuments}}</span>
                                                                    </div>
                                                                </div>
                                                            </ng-template>
                                                        </ngb-carousel>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr align="center">
                                                <div *ngIf="checkID()">
                                                    <td colspan="2" align=center>
                                                        <div *ngIf="(checkID())">
                                                            <div class="button-show">
                                                                <button фrout style="width: 100px; height: 40px" type="button" class="btn btn-danger btn-block btn-sm nav-link" name="ButtonShow"
                                                                        [value]="item.id" [routerLink]="['/route-creation', item.id]" (click)="showChange(item.id)">
                                                                    <div align="center">change</div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="!(checkID())">
                                                            <button class="button-without-back" (click)="nullClick()"><font size="3"><b></b></font></button>
                                                       </div>
                                                    </td>
                                                    <td colspan="2" align=center>
                                                        <div class="button-show">
                                                            <button #rout style="width: 100px; height: 40px" type="button" class="btn btn-danger btn-block btn-sm nav-link" name="ButtonShow"
                                                                    [value]="item.id" [routerLink]="['/show-way', item.id]" (click)="showTrip(item.id)">
                                                                <div align="center">show</div>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td colspan="2" align=center>
                                                        <div *ngIf="item.status===true"><p align="center">
                                                            <button style="width: 100px; height: 40px" type="button" class="btn btn-danger btn-block" name="ButtonPrivate" (click)="chooseStatus(item.id, item.status)">
                                                                <div align="center">private</div>
                                                            </button></p>
                                                        </div>
                                                        <div *ngIf="item.status!=true"><p align="center">
                                                            <button style="width: 100px; height: 40px" type="button" class="btn btn-danger btn-block" name="ButtonPrivate" (click)="chooseStatus(item.id, item.status)">public
                                                            </button></p>
                                                        </div>
                                                    </td>
                                                </div>
                                                <div *ngIf="!checkID()">
                                                    <td colspan="6" align=center>
                                                        <div class="button-show">
                                                            <button #rout style="width: 100px; height: 40px" type="button" class="btn btn-danger btn-block btn-sm nav-link" name="ButtonShow"
                                                                    [value]="item.id" [routerLink]="['/show-way', item.id]" (click)="showTrip(item.id)">
                                                                <div align="center">show</div>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </div>
                                            </tr>
                                        </table>
                                    </div>
                                    <hr style="width: 140%">
                                </label>
                                </div>
                            </div>
                        </section>
                        <section id="content-tab2">
                            <div class="form-check" *ngFor="let item of allSubsLenta">
                                    <label class="form-check-label table-show-trip">
                                        <div align="center">
                                            <table style="  text-align: center;
                                                          border-collapse: collapse;
                                                          background-color: rgb(226, 226, 226);
                                                          border-radius: 10% 0px 0px 0px;
                                                          border: 1px;
                                                          width: 29vh;
                                                          height: 10vh;
                                                          border-style: hidden;width: 140%">
                                                <tr>
                                                    <td><div class="button-show" align="right">
                                                        <button class="button-without-back btn-sm nav-link" (click)="nullClick()"><font size="3"></font></button>
                                                    </div></td>
                                                    <td colspan="4">
                                                        <div *ngIf="item.nameTrip!=null" align="center"><h5>{{item.nameTrip}}</h5></div>
                                                        <div *ngIf="item.nameTrip==null" align="center"><h5>No name</h5></div>
                                                    </td>
                                                    <td></td>
                                                </tr>

                                                <tr>
                                                    <td colspan="6">

                                                        <div class="card page-carousel" *ngIf="item.monuments !== null">
                                                            <ngb-carousel>
                                                                <ng-template ngbSlide *ngFor="let photo of item.monuments">
                                                                    <img [src]=photo.photoMonuments>
                                                                    <div style="height: 50px">
                                                                        <span class="nadpis">{{photo.nameMonuments}}</span>
                                                                    </div>
                                                                </ng-template>
                                                            </ngb-carousel>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6" align=center>
                                                        <div class="button-show">
                                                            <button #rout style="width: 100px; height: 40px" type="button" class="btn btn-danger btn-block btn-sm nav-link" name="ButtonShow"
                                                                    [value]="item.id" [routerLink]="['/show-way', item.id]" (click)="showTrip(item.id)">
                                                                <p align="center">show</p>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <hr style="width: 140%">
                                    </label>
                                </div>
                        </section>
                        <section id="content-tab3">
                            <div class="form-check" *ngFor="let item of allLenta">
                                <div *ngIf="(item.status===true)||(checkID())">
                                    <label class="form-check-label table-show-trip">
                                        <div align="center">
                                            <table style="  text-align: center;
                                                          border-collapse: collapse;
                                                          background-color: rgb(226, 226, 226);
                                                          border-radius: 10% 0px 0px 0px;
                                                          border: 1px;
                                                          width: 29vh;
                                                          height: 10vh;
                                                          border-style: hidden;width: 140%">
                                                <tr>
                                                    <td><div class="button-show" align="right">
                                                        <button class="button-without-back btn-sm nav-link" (click)="nullClick()"><font size="3"></font></button>
                                                    </div></td>
                                                    <td colspan="4">
                                                        <div *ngIf="item.nameTrip!=null" align="center"><h5>{{item.nameTrip}}</h5></div>
                                                        <div *ngIf="item.nameTrip==null" align="center"><h5>No name</h5></div>
                                                    </td>
                                                    <td><div class="button-show" align="right">
                                                        <button class="button-without-back btn-sm nav-link" (click)="nullClick()"><font size="3"></font></button>
                                                    </div></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6">
                                                        <div class="card page-carousel" *ngIf="item.monuments !== null">
                                                            <ngb-carousel>
                                                                <ng-template ngbSlide *ngFor="let photo of item.monuments">
                                                                    <img [src]=photo.photoMonuments>
                                                                    <div style="height: 50px">
                                                                        <span class="nadpis">{{photo.nameMonuments}}</span>
                                                                    </div>
                                                                </ng-template>
                                                            </ngb-carousel>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6" align=center>
                                                        <div class="button-show">
                                                            <button #rout style="width: 100px; height: 40px" type="button" class="btn btn-danger btn-block btn-sm nav-link" name="ButtonShow"
                                                                    [value]="item.id" [routerLink]="['/show-way', item.id]" (click)="showTrip(item.id)">
                                                                <div align="center">show</div>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <hr style="width: 140%">
                                    </label>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
