<body class="account-settings" xmlns:height="http://www.w3.org/1999/xhtml">
<div class="wrapper">
    <div class="section-shaped my-0 skew-separator skew-mini">
        <div class="page-header page-header-xs" data-parallax="true"
             style="background-image: url('./assets/img/fabio-mangione.jpg');">
            <div class="filter"></div>
            <div class="container">
                <div class="header-body text-center mb-7">
                </div>
            </div>
        </div>
    </div>
    <div class="general_field">
        <section>
            <div *ngIf="this.id!==this.storage.getItem('id')">
                <h3 class="gener">General information</h3>
                <hr/>
                <div class="fields" role="tablist">
                   Nickname: {{this.general.nickname}}
                </div>
                <hr/>
                <div class="fields" role="tablist">
                    Name: {{this.general.name}}
                </div>
                <hr/>
                <div class="fields" role="tablist">
                    Surname: {{this.general.surname}}
                </div>
                <hr/>
            </div>
            <div *ngIf="this.id===this.storage.getItem('id')">
                <h3 class="gener">General information</h3>
                <hr/>
                <div class="fromvkall" role="tablist">
                    <div class="formvklabel">Nickname: </div>
                    <input class="fromvkinput" id="nickname" type="text"
                           value="{{general.nickname}}"/>
                    <span *ngIf="exists">
                        <div class="exists">
                            User with same nickname already exists!
                        </div>
                    </span>
                </div>
                <br/>
                <hr/>
                <div class="fromvkall" role="tablist">
                    <div class="formvklabel">First name: </div>
                    <input class="fromvkinput" id="name" type="text" value="{{general.name}}"/>
                </div>
                <br/>
                <hr/>
                <div class="fromvkall" role="tablist">
                    <div class="formvklabel">Last name: </div>
                    <input class="fromvkinput" id="surname"  type="text" value="{{general.surname}}"/>
                </div>
                <br/>
                <hr/>
                <div class="fromvkall" role="tablist">
                    Change password
                    <br/>
                    <br/>
                    <div class="formvklabel">Old password: </div>
                    <input class="fromvkinput" id="oldpass" type="text" value=""/>
                    <br/>
                    <br/>
                    <div class="formvklabel">New password: </div>
                    <input class="fromvkinput" id="newpass" type="text" value=""/>
                    <span *ngIf="passwordMessage!==''">
                        <br/>
                        <div class="exists" *ngIf="!passwordMessage.includes('changed')">
                            {{passwordMessage}}
                        </div>
                    </span>
                </div>
                <br/>
                <hr/>
                <br/>
                <div class="parent">
                    <div>
                    <button class="button_style_submit" type="submit" (click)="acceptInfo()">Accept</button>
                    </div>
                    <div><button type="reset" class="button_style_cancel" (click)="declineChanges()">Cancel</button></div>
                </div>
            </div>
        </section>
    </div>
</div>
