.general_field {
  box-sizing: border-box;
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
  z-index: 5;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: center; //выравнивание по центру
}

.formvklabel {
  color: #656565;
  width: 30%;
  padding: 6px 10px  0;
  line-height: 16px;
  float: left;
  text-align: right;
}

.fromvkall {
  padding-bottom: 15px;
  display: block;
  text-align: center;
  align-self: center;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-size: 22px;
}

.fromvkinput {
  float: left;
  line-height: 16px;
  width: 500px;
  display: block;
}

.fields {
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  margin-right: 50px;
  margin-left: 50px;
  position: sticky;
  align-self: center;
  font-size: 20px;
  text-align: center;
  z-index: 5;
}

.labels {
  margin-right: 15px;
  float: left;
  text-align: right;
}

.gener {
  font-size: 36px;
  text-align: center;
  z-index: 5;
}

.button_style_submit {
  background-color: #F5593D;
  width: 140px;
  height: 40px;
  font-size: 24px;
  color: #ffffff;
  border-radius: 8px;
  z-index: 5;
}

.onmouseup {
  cursor: pointer;
  text-decoration:underline
}

.warning_window {
  border-radius: 4px;
  border-color: #0b1011;
  margin-left: 35%;
  width: 30%;
  height: 250px;
  background-color: #EEEEEE;
  position: center;
  z-index: 100;
}

.exists {
  color: #F5593D;
  font-size: 24px;
  margin-left: 150px;
}

.successful {
  color: #05ae0e;
  font-size: 24px;
  margin-left: 150px;
}

.button_style_cancel {
  background-color: #a2a2a2;
  margin-left: 200px;
  width: 140px;
  height: 40px;
  font-size: 24px;
  color: #ffffff;
  border-radius: 8px;
  z-index: 5;
}

.input-position {

}
