<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>

    <!--deleteCity-->
    <ng-template #delCity let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="del-city">Аre you sure you want to remove the city from travel?</h4>
        </div>
        <div class="modal-body">
            <form>
                <table border="0" width="400" align="center">
                    <tr>
                        <td>
                            <button type="button" class="btn btn-danger btn-block" (click)="onDelete(modal)">Yes
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-block"
                                    (click)="modal.dismiss('Cross click')">No
                            </button>
                        </td>
                    <tr>
                </table>
            </form>
        </div>
    </ng-template>

    <div *ngIf="allTrip?.length > 0">
        <div class="div-for-city">
            <hr class="new1">
            <div *ngFor="let movie of allTrip">
                <div class="test-r">
                    <button type="button" class="btn btn-outline-default btn-round" name="nButs"
                            (click)="onTempTripCity(returnIterCity(movie.cityObject.nameCity))">
                        {{movie.cityObject.nameCity}}({{movie.monumentToList.length}})
                        <button class="button-without-back"
                                (click)="openMassegeForDelCity(delCity, movie.cityObject.nameCity)"><font
                                size="3"><b>x</b></font></button>
                    </button>

                </div>
            </div>
            <hr class="new1">
        </div>
    </div>

    <!--deleteCity-->
    <ng-template #showWishMonument let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="showWishMonument">Monuments added as desired</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-check" *ngFor="let item of monumentWish">
                    <label class="form-check-label table-show-trip">
                        <div align="center">
                            <table style="  text-align: center;
                                                      border-collapse: collapse;
                                                      background-color: rgb(226, 226, 226);
                                                      border-radius: 10% 0px 0px 0px;
                                                      border: 1px;
                                                      width: 13vh;
                                                      height: 10vh;
                                                      border-style: hidden;width: 90%">
                                <tr>
                                    <td>
                                        <div class="button-show" align="right">
                                            <button class="button-without-back btn-sm nav-link" (click)="nullClick()">
                                                <font size="3"></font></button>
                                        </div>
                                    </td>
                                    <td colspan="4">
                                        <div *ngIf="item.nameMonument!=null" align="center">
                                            <h5>{{item.nameMonument}}</h5></div>
                                        <div *ngIf="item.nameMonument==null" align="center"><h5>No name</h5></div>
                                    </td>
                                    <td>
                                        <div class="button-show" align="right">

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">

                                        <img [src]=item.photo>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align=center>

                                    </td>
                                    <td colspan="2" align=center>

                                    </td>
                                    <td colspan="2" align=center>

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <hr style="width: 90%">
                    </label>
                </div>
            </form>
        </div>
    </ng-template>

    <div class="section profile-content">
        <!-- Работа с картой -->
        <div class="nav-map">
            <form>
                <p>
                    <agm-map #gm [latitude]="latitude" [longitude]="longitude" [zoom]="13"
                             (mapClick)="onChoseLocation($event)">
                        <agm-marker-cluster [styles]="cluster_styles">
                            <agm-marker
                                    *ngFor="let item of monument" [latitude]="item.latitude"
                                    [longitude]="item.longitude"
                                    [iconUrl]="{url: item.link, scaledSize: {width: 40, height: 50}}" [visible]="show"
                                    (mouseOver)="onMouseOver(infoWindow,gm)">
                                <agm-info-window [disableAutoPan]="false" #infoWindow>

                                    {{item.nameMonument.substr(1, item.nameMonument.length - 2)}}
                                </agm-info-window>
                            </agm-marker>
                        </agm-marker-cluster>
                        <agm-marker-cluster [styles]="cluster_styles_hotel">
                            <agm-marker
                                    *ngFor="let item of hotels" [latitude]="item.latitude"
                                    [longitude]="item.longitude" [iconUrl]="iconUrl1"
                                    (mouseOver)="onMouseOver(infoWindow,gm)">
                                <agm-info-window [disableAutoPan]="false" #infoWindow>
                                    {{item.nameHotel}}
                                </agm-info-window>
                            </agm-marker>
                        </agm-marker-cluster>
                        <!-- <agm-marker

                                                            <input name="check"
                                           type="checkbox"
                                           [(ngModel)] = "item.checked"

                                           (change)="onClickMapMonument(item.placeId, item.checked)">
                        -->

                        <!-- *ngFor="let item of monumentToListMarker" [latitude]="item.latitude"-->
                        <!-- [longitude]="item.longitude" [iconUrl]="iconUrl" [visible]="show"></agm-marker>-->
                        <!-- print hotel on map -->
                        <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"
                                       [waypoints]="dir.points" [renderOptions]="dir.options"
                                       [optimizeWaypoints]="optimizeWayPoints"
                                       [travelMode]="travelMode" [visible]="showAgm"
                                       (onResponse)="onResponse($event, returnIterCity(tempTripCity.cityObject.nameCity))"></agm-direction>
                    </agm-map>
                </p>
            </form>
        </div>
        <!-- Левая менюшка -->
        <div class="card-filter1">
            <div class="filter-menu">
                <div class="card card-refine">
                    <div class="panel-group" id="accordion" aria-multiselectable="true" aria-expanded="true">
                        <!-- Фильтрация достопремечательностей -->
                        <div class="card-header card-collapse" role="tab" id="designer">
                            <p>
                                <button type="button" class="block" (click)="isCollapsed1 = !isCollapsed1"
                                        [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample1">
                                    Sights
                                </button>
                            </p>
                        </div>
                        <div id="refineDesigner" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                             [ngbCollapse]="isCollapsed1">
                            <div class="card-body">
                                <div class="selectclass">
                                    <select id="Select1" name="countrySelect" [(ngModel)]="countryTitle"
                                            (change)="onChange()">
                                        <option value="" hidden>Choose country</option>
                                        <option *ngFor="let item of country"
                                                value={{item.nameCountry}}>{{item.nameCountry}}</option>
                                    </select>
                                </div>
                                <div class="selectclass">
                                    <select id="Select2" name="citySelect" [(ngModel)]="tempTripCity.cityObject"
                                            (change)="onChangeCity()">
                                        <option value="" hidden>Choose city</option>
                                        <option *ngFor="let item of city"
                                                [ngValue]="item">{{item.nameCity}} </option>
                                    </select>
                                </div>
                                <div class="card-body-new">
                                    <div class="form-check" *ngFor="let item of allStatuses">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="statusInput"
                                                   [(ngModel)]="item.checked" (change)="onFilter()">
                                            {{item.nameStatus}}
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Фильтрация отелей -->
                        <div *ngIf="!collapseHotel()">
                            <div class="card-header card-collapse" role="tab" id="priceRanger">
                                <p>
                                    <button type="button" class="block" (click)="isCollapsed2 = !isCollapsed2"
                                            [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample1">
                                        Hotel
                                    </button>
                                </p>
                            </div>
                            <div id="priceRange" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                                 aria-expanded="true" [ngbCollapse]="isCollapsed2">
                                <div class="card-body show_filter_hotel">
                                    <!-- Фильтрация по цене -->
                                    <p class="color-text" align="center">Price hotel</p>
                                    <nouislider class="slider slider-info" [connect]="true" [min]="0" [max]="5000"
                                                [step]="1" [(ngModel)]="tempTripCity.doubleSliderPriceHotel"
                                                [tooltips]="false" (change)="onFilterForHotel()">
                                    </nouislider>
                                    <div>
                                        <table border="0" cellpadding="5">
                                            <tr>
                                                <td><p>min price</p></td>
                                                <td><p>{{tempTripCity.doubleSliderPriceHotel[0]}}</p></td>
                                            </tr>
                                            <tr>
                                                <td><p>max price</p></td>
                                                <td><p>{{tempTripCity.doubleSliderPriceHotel[1]}}</p></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- Фильтрация по звездности -->
                                    <p class="color-text" align="center">Stars hotel</p>
                                    <div class="card-body-new">
                                        <div class="form-check" *ngFor="let item of masIndex">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="starsInput"
                                                       [(ngModel)]="tempTripCity.checkHotelStar[item]"
                                                       (change)="onFilterForHotel()">
                                                {{starHotelName[item]}}
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <!-- Фильтрация по рейтингу -->
                                    <p class="color-text" align="center">Rating hotel</p>
                                    <nouislider class="slider slider-info" [connect]="true" [min]="0" [max]="5"
                                                [step]="0.5"
                                                [(ngModel)]="tempTripCity.doubleSliderRating" [tooltips]="false"
                                                (change)="onFilterForHotel()"></nouislider>
                                    <div>
                                        <table border="0" cellpadding="5">
                                            <tr>
                                                <td><p>min rating</p></td>
                                                <td><p>{{tempTripCity.doubleSliderRating[0]}}</p></td>
                                            </tr>
                                            <tr>
                                                <td><p>max rating</p></td>
                                                <td><p>{{tempTripCity.doubleSliderRating[1]}}</p></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Фильтрация билетов авиа-->
                        <div *ngIf="!collapseTicketAir()">
                            <div class="card-header card-collapse" role="tab" id="clothingGear">
                                <p>
                                    <button type="button" class="block" (click)="isCollapsed =! isCollapsed"

                                            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample1">
                                        Avia ticket
                                    </button>
                                </p>
                            </div>
                            <div id="clothing" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                                 [ngbCollapse]="isCollapsed">
                                <div class="card-body">
                                    <form>
                                        <p class="color-text">Choose departure date:
                                            <input type="date" name="calendar" id="departure-date" #myDate
                                                   [value]="dtDep | date:'yyyy-MM-dd'"
                                                   (input)="dtDep = parseDate($event.target.value)"/>
                                    </form>
                                    <form>
                                        <p class="color-text">Choose arrival date:
                                            <input type="date" name="calendar" id="arrival-date" #myDate
                                                   [value]="dtArrival | date:'yyyy-MM-dd'"
                                                   (input)="dtArrival = parseDate($event.target.value)"/>
                                    </form>
                                    <div class="color-text">Departure country</div>
                                    <div class="selectclass">
                                        <select id="departure-country" name="countryDep" [(ngModel)]="country_depart"
                                                (change)="onDepCityChange()">
                                            <option value="" hidden>Departure country</option>
                                            <option *ngFor="let dep_country of depContry"
                                                    value={{dep_country.nameCountry}}>{{dep_country.nameCountry}} </option>
                                        </select>
                                    </div>
                                    <div class="color-text">Departure city</div>
                                    <div class="selectclass">
                                        <select id="departure-city" name="cityDep" [(ngModel)]="tempTripCity.cityDep">
                                            <option value="" hidden>{{depCityStr}}</option>
                                            <option *ngFor="let dep_city of depCity"
                                                    [ngValue]="dep_city"> {{dep_city.nameCity}} </option>
                                        </select>
                                    </div>
                                    <div class="color-text">Arrival city</div>
                                    <div class="selectclass">
                                        <select id="arrival-city" name="cityArr" [(ngModel)]="tempTripCity.cityArr">
                                            <option value="" hidden>Arrival city</option>
                                            <option *ngFor="let arr_city of cityArr"
                                                    [ngValue]="arr_city">{{arr_city.nameCity}} </option>
                                        </select>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-danger btn-block"
                                                (click)="aviaUrl(ticketURL)">Get Tickets
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- Форма вывода информации -->
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">{{enterMonument.nameMonument}}</h4>
                <button type="button" class="close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="img-container-big">
                            <img [src]="enterMonument.photo">
                        </div>
                        <br>
                        <div>
                            {{enterMonument.monumentInfo}}
                        </div>
                        <div class="card-filter3">
                            <div class="filter-menu">
                                <div class="card-without-up card-refine">
                                    <div class="panel-group" id="accordion2" aria-multiselectable="true"
                                         aria-expanded="true">
                                        <div class="card-header card-collapse" role="tab" id="designer4">
                                            <p>
                                                <button type="button" class="block"
                                                        (click)="isCollapsed6 = !isCollapsed6"
                                                        [attr.aria-expanded]="!isCollapsed6"
                                                        aria-controls="collapseExample1">
                                                    Work time information
                                                </button>
                                            </p>
                                        </div>
                                        <div id="refineDesigner3" class="collapse" role="tabpanel"
                                             aria-labelledby="headingOne"
                                             [ngbCollapse]="isCollapsed6">
                                            <div class="card-body">
                                                <div class="workTime "
                                                     *ngFor="let work of enterMonument.workTimeMonument">
                                                    <div *ngIf="work.day !== null">
                                                        {{work.day}}
                                                        : {{work.timeOpen.toString().substr(0, work.timeOpen.toString().length - 3)}}
                                                        - {{work.timeClose.toString().substr(0, work.timeClose.toString().length - 3)}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p align="center">
                                            <a [routerLink]="['/monument-information', enterMonument.placeId]"
                                               class="nav-link btn-danger btn-block" target="_blank">
                                                Read more
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>

        <!--Форам для регулирования выводов блоков отель-->
        <ng-template #contentChooseHotel let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title1">
                    Want to find the best hotel?
                </h4>
                <button type="button" class="close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <table border="0" width="400" align="center">
                        <tr>
                            <td>
                                <button type="button" class="btn btn-danger btn-block"
                                        (click)="onChooseYesOnContainerHotel(modal)">YES
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-block"
                                        (click)="onChooseNoOnContainer(contentChooseTicket, modal)">NO
                                </button>
                            </td>
                        <tr>
                    </table>
                </form>
            </div>
        </ng-template>
        <!--Форам для регулирования выводов нового города-->
        <ng-template #contentChooseNewCity let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title-new-city">
                    Want to create new city in your trip?
                </h4>
                <button type="button" class="close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <table border="0" width="400" align="center">
                        <tr>
                            <td>
                                <button type="button" class="btn btn-danger btn-block"
                                        (click)="chooseYesOnCreateNewCity(modal)">New city in trip
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-block"
                                        (click)="onChooseNoOnContainer(contentChooseTicket, modal)">NO
                                </button>
                            </td>
                        <tr>
                    </table>
                </form>
            </div>
        </ng-template>

        <!--Форам для регулирования выводов блоков тикет-->
        <ng-template #contentChooseTicket let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title2">
                    Want to find the ticket?
                </h4>
                <button type="button" class="close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <table border="0" width="400" align="center">
                        <tr>
                            <td>
                                <button type="button" class="btn btn-danger btn-block"
                                        (click)="onChooseYesOnContainerTicket(modal)"> YES
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-block"
                                        (click)="onChooseNoOnContainer(addNewCity, modal)"> NO
                                </button>
                            </td>
                        <tr>
                    </table>
                </form>
            </div>
        </ng-template>
        <!--Форам для регулирования выводов блоков тикет-->
        <ng-template #ticketURL let-modal>

            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-titleTicket">
                    The tickets that match your needs
                </h4>
                <button type="button" class="close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <img src="./assets/Icons/ticketAvia.png" width="400">
                    <p align="center"><a href="{{tempTripCity.urlTicket}}" target="_blank">Ticket
                    </a></p>
                    <table border="0" width="400" align="center">
                        <tr>
                            <td>
                                <button type="button" class="btn btn-danger btn-block"
                                        (click)="chooseYesOnCreateNewCity(modal)">
                                    New city in trip
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-block"
                                        (click)="onChooseNoOnContainer(result, modal)">
                                    Finish trip
                                </button>
                            </td>
                        <tr>
                    </table>
                </form>
            </div>
        </ng-template>
        <!--Форам для добавления нового города в путешествие-->
        <ng-template #addNewCity let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-add-new-city">
                    Want to choose another city to travel?
                </h4>
                <button type="button" class="close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <table border="0" width="400" align="center">
                        <tr>
                            <td>
                                <button type="button" class="btn btn-danger btn-block"
                                        (click)="chooseYesOnCreateNewCity(modal)">YES
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-block"
                                        (click)="onChooseNoOnContainer(result, modal)">NO
                                </button>
                            </td>
                        <tr>
                    </table>
                </form>
            </div>
        </ng-template>
        <!--result-->
        <ng-template #result let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title-one">Finish your journey</h4>
                <button type="button" class="close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>


                    <input class="form-control" name="title" placeholder="Input name trip" [(ngModel)]="nameTrip"/>
                    <hr>
                    <table border="0" width="400" align="center">
                        <tr>
                            <td>
                                <button type="button" class="btn btn-danger btn-block" (click)="download()">Download
                                    PDF
                                </button>
                            </td>

                            <td>
                                <div *ngIf="checkUserAvto()===true">
                                    <button type="button" class="btn btn-danger btn-block"
                                            (click)="saveInProfile(nameTrip, modal, endTrip)">Save in profile
                                    </button>
                                </div>
                                <div *ngIf="!checkUserAvto()===true">
                                    <button type="button" class="btn btn-danger btn-block" (click)="onCrossPageLogin()">
                                        Login
                                    </button>

                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </ng-template>
        <ng-template #endTrip let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-end">The trip was saved successfully</h4>
            </div>
            <div class="modal-body">
                <form>

                    <table border="0" width="400" align="center">
                        <tr>
                            <td>
                                <button type="button" class="btn btn-danger btn-block" (click)="closeModalEnd(modal)">OK
                                </button>
                            </td>
                        <tr>
                    </table>
                </form>
            </div>
        </ng-template>
        <!-- Форма вывода информации об отелях -->
        <ng-template #contextForHotel let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title5">{{enterHotel.nameHotel}}</h4>
                <button type="button" class="close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="img-container-big">
                            <img [src]="enterHotel.photo">
                        </div>
                        <br>
                        <br>
                        <br>
                        <div>
                            <br> Average price: {{enterHotel.avgPrice.toFixed(2)}} &#36;
                            <br> Rating: {{enterHotel.rating}}
                            <br> Stars: {{enterHotel.stars}}
                        </div>
                        <p align="center">
                            <a [routerLink]="['/hotel-information', enterHotel.placeId]"
                               class="nav-link btn-danger btn-block" target="_blank">
                                Read more
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </ng-template>
        <!-- Правая менюшка -->
        <div class="card-filter2">
            <div class="filter-menu">
                <div class="card card-refine">
                    <div class="panel-group" id="accordion1" aria-multiselectable="true" aria-expanded="true">
                        <!--Лист хотелок-->
                        <div class="card-header card-collapse" role="tab" id="designerWish">
                            <p>
                                <button type="button" class="block" (click)="blockListWish = !blockListWish"
                                        [attr.aria-expanded]="!blockListWish" aria-controls="collapseExample1">
                                    List wish
                                </button>
                            </p>
                        </div>
                        <div id="refineDesignerWish" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                             [ngbCollapse]="blockListWish">
                            <div class="card-body">
                                <div class="card-body-new">
                                    <div class="form-check" *ngFor="let item of monumentWish">
                                        <label class="form-check-label">
                                            <input name="check"
                                                   type="checkbox"

                                                   [(ngModel)]="item.checked"
                                                   (click)="onClickWishMonument(item.placeId, !item.checked)"
                                            >

                                            <span class="form-check-sign"></span>
                                            <button type="button" class="block-new" name="nBut"
                                                    (click)="open(content,item)">
                                                <div class="img-container-new">
                                                    <img [src]="item.photo">
                                                </div>
                                                {{item.nameMonument.substr(1, item.nameMonument.length - 2)}}
                                            </button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header card-collapse" role="tab" id="designer2">
                            <p>
                                <button type="button" class="block" (click)="isCollapsed4 = !isCollapsed4"
                                        [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseExample1">
                                    List sights
                                </button>
                            </p>
                        </div>
                        <div id="refineDesigner2" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                             [ngbCollapse]="isCollapsed4">
                            <div class="card-body">
                                <div class="card-body-new">
                                    <div class="form-check" *ngFor="let item of photoMonument">
                                        <label class="form-check-label">
                                            <input name="check"
                                                   type="checkbox"

                                                   [(ngModel)]="item.checked"
                                                   (change)="onListAdd(item.placeId)">

                                            <span class="form-check-sign"></span>
                                            <button type="button" class="block-new" name="nBut"
                                                    (click)="open(content,item)">
                                                <div class="img-container-new">
                                                    <img [src]="item.photo">
                                                </div>
                                                {{item.nameMonument.substr(1, item.nameMonument.length - 2)}}
                                            </button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header card-collapse" role="tab" id="designer1">
                            <p>
                                <button type="button" class="block" (click)="isCollapsed5 = !isCollapsed5"
                                        [attr.aria-expanded]="!isCollapsed5" aria-controls="collapseExample1">
                                    Your sights
                                </button>
                            </p>
                        </div>
                        <div id="refineDesigner1" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                             [ngbCollapse]="isCollapsed5">
                            <div class="card-body">
                                <p class="priority">-Change priority-</p>
                                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" *ngFor="let movie of tempTripCity.monumentToList" cdkDrag>
                                        <form>
                                            <button type="button" class="block-new" name="nBut"
                                                    (click)="open(content,movie)">
                                                <div class="img-container-new">
                                                    <img [src]="movie.photo">
                                                </div>
                                                {{movie.nameMonument.substr(1, movie.nameMonument.length - 2)}}
                                                <div *ngIf="tempTripCity.optimalHotel===undefined">
                                                    <font color="F5593D">({{symbols[tempTripCity.monumentToList.indexOf(movie)]}}
                                                        )</font>
                                                </div>
                                                <div *ngIf="tempTripCity.optimalHotel!==undefined">
                                                    <font color="F5593D">({{symbolsHotel[tempTripCity.monumentToList.indexOf(movie)]}}
                                                        )</font>
                                                </div>

                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <hr/>
                                <div>
                                    <p class="priority">-Travel mode-</p>
                                    <div class="col-sm-6 col-lg-3">
                                        <div class="form-check-radio">
                                            <label class="form-check-label">
                                                <input class="form-check-input" [(ngModel)]="travelMode"
                                                       (change)="onOptimize() " type="radio" name="exampleRadios"
                                                       id="exampleRadios1" value="WALKING" checked=""> Walking
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                        <div class="form-check-radio">
                                            <label class="form-check-label">
                                                <input class="form-check-input" [(ngModel)]="travelMode"
                                                       (change)="onOptimize()" type="radio" name="exampleRadios"
                                                       id="exampleRadios3" value="DRIVING"> Driving
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <button type="button" class="btn btn-danger btn-block"
                                            (click)="onOptimize()">Optimize
                                    </button>
                                    <button type="button" class="btn btn-danger btn-block"
                                            (click)="openMassegeBox(contentChooseHotel)">Confirm
                                    </button>
                                </div>
                                <div class="box"></div>
                            </div>
                        </div>
                        <div *ngIf="!collapseHotel()">
                            <div class="card-header card-collapse" role="tab" id="designer10">
                                <p>
                                    <button type="button" class="block" (click)="isCollapsed20 = !isCollapsed20"
                                            [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseExample1">
                                        Optimal hotels
                                    </button>
                                </p>
                            </div>
                            <div id="refineDesigner10" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                                 [ngbCollapse]="isCollapsed20">
                                <div class="card-body">
                                    <div class="card-body-new">
                                        <div class="form-check-radio" *ngFor="let item of hotelsOptimal">
                                            <label class="form-check-label">
                                                <input #optimalSearchHotel class="form-check-input" type="radio"
                                                       id="exampleRadios2" name="exampleRadioButt"
                                                       [checked]="item.check"
                                                       [value]="true" (change)="onConfirm(item.placeId)">
                                                <span class="form-check-sign"></span>
                                                <button type="button" class="block-new" name="nBut"

                                                        (click)="openHotel(contextForHotel, item)">
                                                    <div class="img-container-new">
                                                        <img [src]="item.photo">
                                                    </div>
                                                    {{item.nameHotel}}
                                                </button>
                                            </label>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-danger btn-block"
                                            (click)="openMassegeBox(contentChooseTicket)"> Сhoose hotel
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
