.combobox {
  margin: auto;
}

.combobox-input {
  line-height: 1.6;
  margin: 25px 0px 5px 0px;
  padding: 10px 15px;
  opacity: .8;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #66615B;
  width: 100%;
  height: 20px;
  outline: none;
  border-radius: 2em;
}

.combobox-input:focus{

  outline-style: none;
}

.combobox-options {
  line-height: 1.6;
  opacity: .8;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000000;
  width: 195px;
  max-height: 200px;
  outline: none;
  border-radius: 1em;
  position: absolute;
  text-align: center;
  background-color: white;
  overflow-y: auto;
  z-index: 1;
}

.selected {

  color: #000000;
  background-color: rgb(255, 255, 255);
}

list-item{

  display: block;
  font-size: 11px;
  padding: 10px;
}

list-item:hover{

  background-color: grey;
  color: white;
}


