<div class="combobox">
	<input type="text" #inputElement [(ngModel)]="inputItem" (ngModelChange)="getFilteredList()" class="combobox-input" (keydown.enter)="onEnter(inputElement.value)" (blur)="toggleListDisplay(0)" (focus)="toggleListDisplay(1)" placeholder="Search..." [ngClass]="{'error': showError}">
  <div class="combobox-options" *ngIf="!listHidden">
    <list-item *ngFor="let item of filteredList;let i = index" (click)="selectItem(i)" [ngClass]="{'selected': i===selectedIndex}">{{item}}</list-item>
  </div>
</div>
