<div class="section section-buttons">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="card card-blog" *ngIf="centerInfo.name !== ''">
                    <div class="card-image">
                        <a>
                            <img class="img" [src]=centerInfo.photo>
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            {{centerInfo.name}}
                        </h4>
                        <div class="card-description">
                            {{centerInfo.description}}
                        </div>
                        <br>
                        <div class="card-footer">
                            <a class="btn btn-danger btn-round" [routerLink]="['/monument-information', centerInfo.id]">View
                                Article</a>
                        </div>
                        <hr>
                        <div class="card-footer text-left">
                            <div class="author">
                                <a>
                                    <span>{{centerInfo.country}}</span>
                                </a>
                            </div>
                            <div class="stats">
                                {{centerInfo.city}}
                            </div>
                        </div>
                    </div>

                </div>


                <div class="card" *ngIf="leftMiddleInfo.text !== ''" data-color="purple" data-background="color">
                    <div class="card-body text-center">
                        <h6 class="card-category">
                            <i class="fa fa-quote-right"></i> Hotels
                        </h6>
                        <h5 class="card-title">
                            <a (click)="viewProfile(leftMiddleInfo.idUser)">{{leftMiddleInfo.userNickname}}</a>
                        </h5>
                        <p class="card-description">
                            {{leftMiddleInfo.text}}
                        </p>
                        <br>
                        <div class="card-footer text-center">
                            <a class="btn btn-neutral btn-round"
                               [routerLink]="['/hotel-information', leftMiddleInfo.idComment]"><i
                                    class="fa fa-newspaper-o"></i>
                                Read</a>
                        </div>
                    </div>
                </div>


                <div class="card" *ngIf="leftBottomInfo.text !== null && leftBottomInfo.text !== ''">
                    <div class="card-body">
                        <h6 class="author pull-left"
                            (click)="viewProfile(leftBottomInfo.idUser)">{{leftBottomInfo.userNickname}}</h6>
                        <span class="category-social text-info pull-right">
              </span>
                        <div class="clearfix"></div>
                        <p class="card-description" [routerLink]="['/monument-information', leftBottomInfo.idComment]">
                            {{leftBottomInfo.text}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card card-blog" *ngIf="leftUpInfo.nameMonument !== ''"
                     [routerLink]="['/monument-information', leftUpInfo.placeId]">
                    <div class="card-image">
                        <a>
                            <img class="img" [src]='leftUpInfo.photo'>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            {{leftUpInfo.nameMonument.substr(1, leftUpInfo.nameMonument.length - 2)}}
                        </h4>
                        <div class="card-description">
                            {{leftUpInfo.monumentInfo}}
                        </div>
                    </div>
                </div>
                <div class="card" data-background="image" *ngIf="centerBottomInfo.photo !== ''"
                     style="background-image: url({{centerBottomInfo.photo}})">
                    <div class="dark"></div>
                    <div class="card-body">
                        <a>
                            <h3 class="card-title">{{centerBottomInfo.nameMonument}}</h3>
                        </a>
                        <p class="card-description">
                            {{centerBottomInfo.monumentInfo}}
                        </p>
                        <br>
                        <br>
                        <br>
                        <div class="card-footer">
                            <a class="btn btn-success btn-round"
                               [routerLink]="['/monument-information', centerBottomInfo.placeId]">
                                <i></i> Read more
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="card card-blog" *ngIf="rightUpInfo.text !== '' && rightUpInfo.userNickname !== ''" data-background="color" data-color="orange">
                    <div class="card-body">
                        <div class="author">
                            <a>
                                <img [src]="rightUpInfo.photoUser" alt="..." class="avatar img-raised"
                                     (click)="viewProfile(leftBottomInfo.idUser)">
                                <span (click)="viewProfile(leftBottomInfo.idUser)">{{rightUpInfo.userNickname}}</span>
                            </a>
                        </div>
                        <span class="category-social pull-right">
                            <i class="fa fa-quote-right"></i>
                        </span>
                        <div class="clearfix"></div>
                        <p class="card-description" [routerLink]="['/monument-information', leftBottomInfo.idComment]">
                            {{rightUpInfo.text}}
                        </p>
                    </div>
                </div>
                <div class="card" *ngIf="rightMiddleInfo.nickname !== ''">
                    <div class="card-body text-center">
              <span class="category-social text-info pull-right">
                <i> Dream journey</i>
              </span>
                        <div class="clearfix"></div>
                        <div class="author">
                            <a>
                                <img [src]="rightMiddleInfo.photo" alt="..." (click)="viewProfile(rightMiddleInfo.id)"
                                     class="avatar-big img-raised border-gray">
                            </a>
                            <h5 class="card-title"
                                (click)="viewProfile(rightMiddleInfo.id)">{{rightMiddleInfo.nickname}}</h5>
                            <p class="category">
                                <a (click)="viewProfile(rightMiddleInfo.id)" class="text-danger">{{rightMiddleInfo.login}}</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div *ngIf="rightBottomInfo.name !== ''" class="card"
                     [routerLink]="['/monument-information', rightBottomInfo.id]">
                    <div class="card-image">
                        <a>
                            <img class="img" [src]=rightBottomInfo.photo>
                        </a>
                    </div>
                    <div class="card-body">
                        <label class="badge badge-pill badge-warning">{{rightBottomInfo.category[0]}}</label>
                        <h5 class="card-title">
                            {{rightBottomInfo.name}}
                        </h5>
                        <p>{{rightBottomInfo.description}}</p>
                        <hr>
                        <div class="card-footer">
                            <div class="author">
                                <a>
                                    <span>{{rightBottomInfo.country}}</span>
                                </a>
                            </div>
                            <div class="stats">
                                <i></i> {{rightBottomInfo.city}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
