.nav-link1 {
  line-height: 1.6;
  margin: 25px 0px;
  padding: 10px 15px;
  opacity: .8;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #66615B;
  width: 100%;
  height: 20px;
  outline: none;
  border-radius: 2em;
}
