<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="">Dream journey</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                    data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <app-combo-box *ngIf="!isSearchNav()" [list]="itemList"></app-combo-box>
                <li class="nav-item">
                    <a [routerLink]="['/search-page']" class="nav-link">
                        <i class="nc-icon nc-book-bookmark">
                        </i>
                        Search
                    </a>
                </li>
                <li *ngIf="storage.getItem('id')!==null" class="nav-item" >
                    <a [routerLink]="['/chat']" class="nav-link">
                        <i class="nc-icon nc-book-bookmark">
                        </i>
                        Messages
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/route-creation']" class="nav-link"><i
                            class="nc-icon nc-book-bookmark"></i>Route creation</a>
                </li>
                <li class="nav-item" *ngIf="isHome() && this.storage.getItem('token')==null">
                    <a [routerLink]="['/login']"  class="btn btn-danger btn-round">Sign in</a>
                </li>
                <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link"><i
                            class="nc-icon nc-layout-11"></i>Home</a>
                    <a [routerLink]="['/home']" *ngIf="isDocumentation()" class="nav-link">Back to Kit</a>
                </li>
                <li class="nav-item" *ngIf="this.storage.getItem('token')!=null" >
                    <a [routerLink]="['/profile-user']" class="nav-link" >
                        <i class="nc-icon nc-air-baloon"></i>My page</a>
                </li>
                <li class="nav-item" *ngIf="this.storage.getItem('token')!=null" >
                    <a href="" (click)="logOut()" class="nav-link">
                        <i class="nc-icon nc-air-baloon"></i>LogOut</a>
                </li>
                <li  class="nav-item" *ngIf="isDocumentation()">
                    <a href="https://github.com/creativetimofficial/paper-kit-2-angular/issues?ref=pk2-free-local"
                        class="nav-link">Have an issue</a>
                </li>
            </ul>
        </div>
    </div>

</nav>

