<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/front-hotel.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 *ngIf="(photoHotel.nameHotel !== null && photoHotel.nameHotel !== undefined) === true">{{photoHotel.nameHotel}}</h1>
            <br/>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete comment?</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <button type="button" class="btn btn-danger btn-block size-button-template"
                    (click)="deleteComment(content)">
                Yes
            </button>
            <button type="button" class="btn btn-danger btn-block size-button-template"
                    (click)="modal.dismiss('Cross click')">
                No
            </button>
        </div>
    </div>
</ng-template>

<ng-template #photoContent let-modal>
    <img class="image-set" [src]="selectPhoto">
</ng-template>

<div class="section" id="carousel" *ngIf="show === true">

        <div class="tim-title">
            <h3></h3>
        </div>
        <div class="row">
            <div class="col-md-6 margin-class">
                <div class="card page-carousel" *ngIf="photoHotel.photo !== null && photoHotel.photo !== undefined">
                    <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let photo of photoHotel.photo">
                            <img [src]= "photo">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
            <div class="col-md-5 text-settings">
                <h3>Hotel information</h3>
                <br>
                 <h6> Address: {{photoHotel.formattedAddress}}</h6>
                 <h6> PhoneNumber: {{photoHotel.formattedPhoneNumber}}</h6>
                 <h6> Average price: {{photoHotel.avgPrice.toFixed(2)}} &#36;</h6>
                 <h6> Rating: {{photoHotel.rating}}</h6>
                 <h6> Stars: {{photoHotel.stars}}</h6>
            </div>
        </div>
</div>
<hr>
<h2 class="text-settings1">Comments</h2>
<br>
<div class="setting">
    <textarea id="textAreaHotel" *ngIf="storage.getItem('role') !== null" class="form-control border-input" placeholder="Your comment..." rows="3"
              style="margin-top: 0px; margin-bottom: 0px; height: 77px;">
    </textarea>

    <br>
    <div class="container" >
        <a class="size-img" *ngFor="let item of url">
            <img class="inline"  [src]="item" alt="..." (click)="openPhoto(photoContent, item)">
            <button class="btn span-setting" (click)="deletePhoto(item)">
                &times;
            </button>
        </a>
    </div>
    <br>
    <div class="row" >
        <div class="vis" *ngIf="storage.getItem('role') !== null ">
            <form action="" method="post" enctype="multipart/form-data">
                  <span class="btn btn-outline-default btn-round btn-file">
                    <span class="fileinput-new">
                        <a>
                            <i class="nc-icon nc-camera-compact">
                            </i>
                         </a>
                    </span>
                    <span class="fileinput-exists" *ngIf="change">Change</span>
                    <input type="file" ng2FileSelect [uploader]="uploader" multiple/>

                  </span>
            </form>
        </div>
        <button type="button" *ngIf="storage.getItem('role') !== null" class="btn btn-danger btn-block size-button" (click)="addCommentHotel()">
            Add comment
        </button>
    </div>

    <div class="media" *ngFor="let item of allComments">
        <a class="pull-left">
            <div class="avatar">
                <img class="media-object" (click)="viewProfile(item.idUser)" alt="64x64" [src]="item.photoUser">
            </div>
        </a>
        <div class="media-body">
            <div class="pull-right" *ngIf="item.check === true || storage.getItem('role')==='admin' || storage.getItem('role')==='moderator'">
                <a class="btn btn-info btn-link pull-right" (click)="open(content,item)"> <i
                        class="nc-icon nc-simple-remove"></i></a>
            </div>
            <h5 class="media-heading" (click)="viewProfile(item.idUser)">{{item.userNickname}}</h5>
            <p>{{item.text}}</p>
            <div *ngIf="item.photo !== null">
                <a class="img-set-out" *ngFor="let photos of item.photo">
                    <img class="img-set" [src]="photos" alt="..." (click)="openPhoto(photoContent, photos)">
                </a>
            </div>
            <div class="pull-right" *ngIf="item.date !== null && item.date !== undefined">
                <a class="btn btn-info btn-link pull-right" >{{time[allComments.indexOf(item)]}} ({{date[allComments.indexOf(item)]}})</a>
            </div>

        </div>
    </div>
</div>


