<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">Welcome</h3>
                        <div class="social-line text-center">
                            <a class="btn btn-neutral btn-facebook btn-just-icon" (click)="facebookSignIn()">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="btn btn-neutral btn-google btn-just-icon" (click)="googleSignIn()">
                                <i class="fa fa-google"></i>
                            </a>
                            <a class="btn btn-neutral btn-twitter btn-just-icon" (click)="vkSignIn()">
                                <i class="fa fa-vk"></i>
                            </a>
                        </div>
                        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <label>Email</label>
                                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                    </div>

                                    <input type="text" formControlName="login"
                                           class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }"
                                           placeholder="Email"
                                           (focus)="focus=true" (blur)="focus=false" >
                                    <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                                        <div *ngIf="f.login.errors.required">Email is required</div>
                                        <div *ngIf="f.login.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>
                                <label>Password</label>
                                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                    </div>
                                    <input type="password" formControlName="password"
                                           class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                           placeholder="Password"
                                           (focus)="focus1=true" (blur)="focus1=false" >
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                                        <div *ngIf="f.password.errors.maxlength">Password must be 50 characters or less</div>
                                        <div *ngIf="f.password.errors.pattern">Password must contain "A-z", "0-9", "-" or "_"</div>
                                    </div>
                                </div>
                            <button class="btn btn-danger btn-block btn-round">Login</button>
                            <div>
                                <a [routerLink]="['/registration']" class="btn btn-danger btn-block btn-round">Create an account</a>
                            </div>
                        </form>
                        <div class="forgot">
                            <a href="forgot_password" class="btn btn-link btn-danger">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
