.skew-separator {
  overflow: hidden;
}

.section-shaped {
  position: relative;
  overflow: hidden;
}

.mb-0, .my-0 {
  margin-bottom: 0 !important;
}
.text-color{
  font-size: 15px;
  text-decoration-color: #F5593D;
  vertical-align: middle;
}
.mt-0, .my-0 {
  margin-top: 0 !important;
}

.page-header.page-header-small {
  min-height: 60vh;
  max-height: 440px;
}

.page-header.header-filter {
  position: relative;
}

.page-header {
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.page-header, header {
  position: relative;
}

.page-header, .section-hero {
  overflow: visible !important;
}

.page-header {
  position: absolute;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header-image {
  position: absolute;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.h1, h1 {
  font-size: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.text-center {
  text-align: center !important;
}

.chat .card {
  max-height: 70vh;
  //overflow: auto;
  margin-top: 30px;
  //overflow-x: hidden;
}

.card {
  margin-bottom: 30px;
  //box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  border: 0;
}

.card {
  position: relative;
}
.size-card{
  min-height: 350px;
}

.bg-secondary {
  background-color: #FFFFFF;
}

.card-bg {
  background-color: #FFFFFF;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: .0625rem solid rgba(0, 0, 0, .05);
  border-radius: .25rem;
}

.chat .card .card-footer, .chat .card .card-header {
  background: transparent;
  display: flex;
}
.card-footer{
  padding: 10px;
  top: -100px
}
.card .card-footer, .card .card-header {
  background-color: #fff;
}


.form-group{
  margin: 0px;
}

.card-header:first-child {
  border-radius: 0.1875rem 0.1875rem 0 0;
}

.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}

.card-header {
  padding: 0rem;
  margin-bottom: 0;
  background-color: #f6f9fc;
  border-bottom: .0625rem solid rgba(0, 0, 0, .05);
  height: 80px;
}

.row {
  height: 80px;
  margin-bottom: 0;
  padding: 0rem;
}

.input-group-alternative {
  //box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
  border: 0;
  //transition: box-shadow .15s ease;
}

.input-group, .input-group .form-control {
  box-shadow: none;
}

.input-group {
  border-radius: .25rem;
  transition: all .15s ease;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group .form-control:not(:last-child) {
  border-right: 0;
  padding-right: 0;
}

.input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-alternative .form-control, .input-group-alternative .input-group-text {
  border: 0;
  box-shadow: none;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-append, .input-group-prepend {
  display: flex;
}

.ni {
  display: inline-block;
  font: normal normal normal 14px/1 NucleoIcons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.list-group-item.active {
  z-index: 2;
  color: #f5593d;
  background-color: #ffffff;
  border-color: #aaaaaa;
  text-decoration-color: #F5593D;
}


.list-group-item:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.bg-gradient-primary {
  background: linear-gradient(35deg, #f5593d, #f5593d) !important;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 1rem;
  margin-bottom: -.0625rem;
  background-color: #fff;
  border: .0625rem solid #e9ecef;
}

.chat .list-group .avatar {
  width: 40px !important;
  height: 40px !important;
}

.media .avatar {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  margin-right: 15px;
}

.media-left .avatar {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  margin-right: 15px;
}

.avatar {
  color: #fff;
  background-color: #adb5bd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  vertical-align: middle;
}

.size-send-button {
  width: 100px;
  height: 40px;
}

.size-input {
  height: 50%;
}

img, svg {
  vertical-align: middle;
}

img {
  border-style: none;
}

.col-lg-8 {
  position: relative;
  width: 100%;
  size: landscape;
  padding-right: 15px;
  padding-left: 15px;
}

.chat .card {
  max-height: 70vh;
  //overflow: auto;
  margin-top: 30px;
  //overflow-x: hidden;
}

.card {
  margin-bottom: 30px;
  //box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  border: 0;
}

.card {
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: .0625rem solid rgba(0, 0, 0, .05);
  border-radius: .25rem;
}

.col-md-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.overflow {
  overflow: hidden;
  overflow-y: scroll;
}
.overflow::-webkit-scrollbar {width:0px;}

.dropdown, .dropleft, .dropright, .dropup {
  display: inline-block;
}

.dropdown, .dropleft, .dropright, .dropup {
  position: relative;
}

.btn:not(:last-child) {
  margin-right: .5rem;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.btn-link {
  font-weight: 600;
  box-shadow: none;
}

.btn {
  position: relative;
  text-transform: uppercase;
  will-change: transform;
  letter-spacing: .025em;
  font-size: .875rem;
}

.text-primary {
  color: #5e72e4 !important;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-append, .input-group-prepend {
  display: flex;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-text {
  transition: all .15s ease;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: .625rem .75rem;
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb5bd;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #cad1d7;
  border-radius: .25rem;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

section {
  display: block;
}

.glide--swipeable {
  cursor: grab;
}

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.glide__slides, .glide__track {
  overflow: hidden;
}

.glide * {
  box-sizing: inherit;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides, .glide__track {
  overflow: hidden;
}

.glide * {
  box-sizing: inherit;
}

dl, ol, ul {
  margin-top: 0;
}

address, dl, ol, ul {
  margin-bottom: 1rem;
}

.glide__slides .glide__slide {
  opacity: .1;
  transition: all .3s ease 0s;
}

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide, .glide__slides--dragging {
  user-select: none;
}

.glide * {
  box-sizing: inherit;
}

*, :after, :before {
  box-sizing: border-box;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.glide__slides .glide__slide img {
  width: 400px;
  margin: 50px auto;
}

.glide * {
  box-sizing: inherit;
}

img, svg {
  vertical-align: middle;
}

img {
  border-style: none;
}

.margin-class {
  margin-left: 20px;
}

.text-settings {
  text-align: left;
}

h3 {
  margin-top: 0px;
  padding-top: 0px;
}

.text-settings1 {
  text-align: center;
}

.setting {
  margin-left: 20%;
  width: 60%;
}

.size-button {
  width: 30%;
}

.size-button-template {
  width: 48%;
  height: 50%;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.color-panel {
  background-color: #ffffff;
  border-color: #121212;
  margin-left: 90%;
}

.size-button-photo {
  width: 10%;
  margin-left: 58%;
  height: 40.8px;
  margin-top: .5rem;
  font-size: 18px;
  text-align: center;
  padding: 0.3rem 18px;
}

.vis {
  margin-left: 62%;
}

.fileinput {
  display: inline-block;
  margin-bottom: 9px;
}

.text-center {
  text-align: center !important;
}

.span-set {
  outline: none;
}

.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}


.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
  display: none;
}

.fileinput .thumbnail {
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
}

.img-no-padding {
  padding: 0;
  margin: 0px;
  width: inherit;
}

.thumbnail {
  border: 0 none;
}

body {
  color: #66615b;
  font-size: 14px;
  font-weight: 300;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.fileinput .thumbnail > img {
  max-height: 30%;
  width: 30%;
}

img {
  vertical-align: middle;
  border-style: none;
}

.btn[class*=btn-outline-] {
  background-image: none;
  background-color: #f5593d;
}

.fileinput .btn {
  vertical-align: middle;
}

.btn-round {
  border-radius: 4px;
}

.btn-outline-default {
  border-color: #f5593d;
  color: #ffffff;
  opacity: 1;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  direction: ltr;
}

.fileinput-new {
  font-size: 15px;
}

.img-set {
  width: 20%;
  height: 20%;
}

.container {
  position: relative;
}

.ins {
  max-width: 700px;
}

.inline {
  display: inline-block;
  width: 20%;
  height: auto;
}

.a img {
  width: 50%;
  height: auto;
}

.size-img {
  width: 30%;
  height: 30%;
  position: relative;
  margin-left: 3px;
}

.size-img .btn {
  position: absolute;
  top: -140%;
  left: 95%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f5593d;
  color: white;
  font-size: 8px;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.img-set-out {
  width: 20%;
  height: 20%;
  margin-left: 3px;
}

.media-area .media:last-child {
  border: 0;
}

.media {
  padding-bottom: 0px;
  margin-top: 0px;
  padding-left: 10px;
}


.media-left:last-child {
  border: 0;
}
.media-left {
  padding-bottom: 0px;
  margin-top: 5px;
  padding-left: 30px;
}

.container-new {
  width: 100%;
  padding-right: 90px;
  padding-left: 90px;
  margin-right: auto;
  margin-left: auto;

}

.col-md-10 {
  padding: 0px;
}

.pull-left {
  float: left;
}

.brand, .h1, .h2, .h3, .h4, .h5, .h6, .navbar, .td-name, a, button, h1, h2, h3, h4, h5, h6, input, p, select, td, textarea {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 300;
}


.media .avatar {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
  border: 3px solid #fff;
}

.media .avatar img {
  width: 100%;
}

.media-left .avatar {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
  border: 3px solid #fff;
}

.media-left .avatar img {
  width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

.pull-right {
  float: right;
}

.image-set {
  width: 100%;
  height: 100%;
}

.span-setting {
  left: 90%;
  top: 85%
}
