<div class="wrapper" xmlns:visibility="http://www.w3.org/1999/xhtml">
    <div class="page-header section-dark"
         style="background-image: url('https://images.unsplash.com/photo-1498475932703-000eb46e6375?dpr=2&amp;auto=format&amp;fit=crop&amp;w=1500&amp;h=1000&amp;q=80&amp;cs=tinysrgb&amp;crop=');">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h1 class="title"> Find new friends and travel</h1>
                        <h5 class="presentation-subtitle text-center">Wandering is the best thing in the world. When you wander, you grow rapidly,
                            and everything that you see is delayed even in appearance. Wanderings cleanse, interweave meetings, centuries, books and love.
                            They are related to us with the sky. If we have received yet unproven happiness to be born,
                            then we must at least see the earth.</h5>
                        <br>
                    </div>
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="card card-raised card-form-horizontal no-transition">
                            <div class="card-body">
                                <form method="" action="">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input #search type="text" value=""
                                                       placeholder="What do you want to find?" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-danger btn-block"
                                                    (click)="getByNameMonument(search.value)"><i
                                                    class="nc-icon nc-zoom-split"></i> &nbsp; Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section section-white">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-header card-collapse" role="tab" id="designerOne">
                        <p>
                            <button type="button" class="block" (click)="isCollapsed2 = !isCollapsed2"
                                    [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample1">
                                Search types
                            </button>
                        </p>
                    </div>
                    <div id="refineDesignerOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                         [ngbCollapse]="isCollapsed2">
                        <div class="card-body">
                            <button type="button" class="padding1 btn btn-danger btn-block "
                                    (click)="onUser(search.value)">
                                Search people
                            </button>
                            <button type="button" class="padding1 btn btn-danger btn-block"
                                    (click)="getByNameMonument(search.value)">
                                Search sights
                            </button>
                        </div>
                    </div>
                    <div class="padding" id="menu">
                        <div class="card-header card-collapse" role="tab" id="designer">
                            <p>
                                <button type="button" class="block" (click)="isCollapsed1 = !isCollapsed1"
                                        [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample1">
                                    Options
                                </button>
                            </p>
                        </div>
                        <div id="refineDesigner" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                             [ngbCollapse]="isCollapsed1">
                            <div class="card-body">
                                <div>
                                    <p class="options">Sights</p>
                                </div>
                                <div class="selectclass">
                                    <div class="selectclass">
                                        <select id="Select1" name="countrySelect" [(ngModel)]="countryTitle"
                                                (change)="onChange()">
                                            <option value="" hidden>Choose country</option>
                                            <option *ngFor="let item of country"
                                                    value={{item.nameCountry}}>{{item.nameCountry}} </option>
                                        </select>
                                    </div>
                                    <div class="selectclass">
                                        <select id="Select2" name="citySelect" [(ngModel)]="cityObject"
                                                (change)="getMonuments(cityObject.nameCity)">
                                            <option value="" hidden>Choose city</option>
                                            <option *ngFor="let item of city"
                                                    [ngValue]="item">{{item.nameCity}} </option>
                                        </select>
                                    </div>
                                    <div class="card-body-new">
                                        <div class="form-check" *ngFor="let item of statuses">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="statusInput"
                                                       [(ngModel)]="item.checked" (change)="onFilter()" >
                                                {{item.nameStatus}}
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" *ngIf="found === true">
                    <h6 class="priority">Your search «{{search.value}}{{copySearch}}» did not match anything. Try again!</h6>
                </div>
                <div class="col-md-8" *ngIf="wait === true">
                    <h6 class="priority">Please wait...</h6>
                </div>
                <div class="col-md-8" *ngIf="prov1 === false">
                    <div class="article">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto">
                                <div class="card card-blog card-plain text-center">
                                    <div class="card-image">
                                        <a>
                                            <img *ngIf="users.photo !== ''" class="img img-raised" [src]="users.photo">
                                            <img *ngIf="users.photo === ''" class="img img-raised" src="https://avatars.mds.yandex.net/get-pdb/1895114/f5ef2db2-2dea-48f7-bcec-c7593611dff8/s375">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a>
                                            <h3 class="card-title">{{users.nickname}}</h3>
                                        </a>
                                        <div class="card-description">
                                            <p>{{users.login}}</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-danger btn-round btn-sm" [value]="users.id" (click)="viewProfile(users.id)">View profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <br>
                </div>
                <div class="col-md-8" *ngIf="prov === true">
                    <div *ngFor="let item of monuments">
                        <div class="article">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">
                                    <div class="card card-blog card-plain text-center">
                                        <div class="card-image">
                                            <a>
                                                <img class="img img-raised" [src]="item.photo">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a>
                                                <h3 class="card-title">{{item.nameMonument.substr(1, item.nameMonument.length - 2)}}</h3>
                                            </a>
                                            <div class="card-description">
                                                <p>{{item.monumentInfo}}</p>
                                            </div>
                                        </div>
                                        <button #rout *ngIf="item.placeId !== null" class="btn btn-danger btn-round btn-sm nav-link"
                                                [value]="item.placeId" [routerLink]="['/monument-information', item.placeId]"
                                                (click)="routing(rout.value)">Read more
                                        </button>
                                        <button #rout *ngIf="item.placeId === null" class="btn btn-danger btn-round btn-sm nav-link"
                                                [value]="item.placeId" [routerLink]="['/monument-information', item.nameMonument]"
                                                (click)="routing(rout.value)">Read more
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

