<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">Registration</h3>
                        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <label>Name</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-paper"></i>
                                  </span>
                                </div>
                                <input type="text" formControlName="name"
                                       class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                       placeholder="Your name"
                                       (focus)="focus1=true" (blur)="focus1=false" >
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name is required</div>
                                    <div *ngIf="f.name.errors.minlength">Name must be at least 2 characters</div>
                                    <div *ngIf="f.name.errors.maxlength">Name must be 50 characters or less</div>
                                    <div *ngIf="f.name.errors.pattern">Password must contain "A-z"</div>
                                </div>
                            </div>
                            <label>Surname</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-paper"></i>
                                  </span>
                                </div>
                                <input type="text" formControlName="surname"
                                       class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }"
                                       placeholder="Your surname"
                                       (focus)="focus1=true" (blur)="focus1=false" >
                                <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                                    <div *ngIf="f.surname.errors.required">Surname is required</div>
                                    <div *ngIf="f.surname.errors.minlength">Surname must be at least 2 characters</div>
                                    <div *ngIf="f.surname.errors.maxlength">Surname must be 50 characters or less</div>
                                    <div *ngIf="f.surname.errors.pattern">Password must contain "A-z"</div>
                                </div>
                            </div>
                            <label>Nickname</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-paper"></i>
                                  </span>
                                </div>
                                <input type="text" formControlName="nickname"
                                       class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nickname.errors }"
                                       placeholder="Your nickname"
                                       (focus)="focus1=true" (blur)="focus1=false" >
                                <div *ngIf="submitted && f.nickname.errors" class="invalid-feedback">
                                    <div *ngIf="f.nickname.errors.required">Nickname is required</div>
                                    <div *ngIf="f.nickname.errors.minlength">Nickname must be at least 2 characters</div>
                                    <div *ngIf="f.nickname.errors.maxlength">Nickname must be 20 characters or less</div>
                                    <div *ngIf="f.nickname.errors.pattern">Password must contain "A-z", "0-9", "-" or "_"</div>
                                </div>
                            </div>
                            <label>Email</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>
                                <input type="text" formControlName="login"
                                       class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }"
                                       placeholder="Email"
                                       (focus)="focus=true" (blur)="focus=false" >
                                <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                                    <div *ngIf="f.login.errors.required">Email is required</div>
                                    <div *ngIf="f.login.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                            <label>Password</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                <input type="password" formControlName="password"
                                       class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                       placeholder="Password"
                                       (focus)="focus1=true" (blur)="focus1=false" >
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                                    <div *ngIf="f.password.errors.maxlength">Password must be 50 characters or less</div>
                                    <div *ngIf="f.password.errors.pattern">Password must contain "A-z", "0-9", "-" or "_"</div>
                                </div>
                            </div>
                            <label>Repeat password</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                <input type="password" formControlName="passwordReplay"
                                       class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passwordReplay.errors }"
                                       placeholder="Password"
                                       (focus)="focus1=true" (blur)="focus1=false" >
                                <div *ngIf="submitted && f.passwordReplay.errors" class="invalid-feedback">
                                    <div *ngIf="f.passwordReplay.errors.required">Password is required</div>
                                    <div *ngIf="f.passwordReplay.errors.minlength">Password must be at least 8 characters</div>
                                    <div *ngIf="f.passwordReplay.errors.maxlength">Password must be 50 characters or less</div>
                                    <div *ngIf="f.passwordReplay.errors.pattern">Password must contain "A-z", "0-9", "-" or "_"</div>
                                </div>
                            </div>
                            <button class="btn btn-danger btn-block btn-round" >Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
