<body class="account-settings">
<div class="wrapper">
    <div class="section-shaped my-0 skew-separator skew-mini">
        <div class="page-header page-header-xs" data-parallax="true"
             style="background-image: url('./assets/img/fabio-mangione.jpg');">
            <div class="filter"></div>
            <div class="container">
                <div class="header-body text-center mb-7">
                </div>
            </div>
        </div>
    </div>
    <div class="background" id="#mainImg">
        <div class="container bg-white card-user-profile mb-0">
            <h3 class="text-center">Subscriptions</h3>
            <br>
            <div class="setting" *ngFor="let item of subs">
                <div class="media" >
                    <a class="pull-left">
                        <div class="avatar">
                            <img class="media-object" *ngIf="item.url !== ''" alt="64x64" (click)="viewProfile(item.id)"  [src]="item.url">
                            <img class="media-object" *ngIf="item.url === ''" alt="64x64" (click)="viewProfile(item.id)"  src="https://avatars.mds.yandex.net/get-pdb/1895114/f5ef2db2-2dea-48f7-bcec-c7593611dff8/s375">
                        </div>
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading" (click)="viewProfile(item.id)">{{item.nickname}}</h5>
                    </div>
                    <div class="pull-right" >
                        <button type="button" class="btn btn-danger btn-block size-button" (click)="unsub(item.id)">
                            Unsubscribe
                        </button>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>




</div>
