.media .avatar {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
  border: 3px solid #fff;
}
.media .avatar img {
  width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.pull-right{
  float:right;
}
.image-set {
  width: 100%;
  height: 100%;
}
.span-setting {
  left: 90%;
  top: 85%
}
